{% extends "layout.html" %}

{% block content %}
<table border=1>
    <thead>
    <td>First Name</td><td>Last Name</td><td>Phone</td><td>Email</td><td>Plot Number</td><td>Price</td>
    </thead>
    {% for row in rows %}
    <tr>
    <td>{{row["first_name"]}}</td><td>{{row["last_name"]}}</td><td> {{ 
    row["phone"]}}</td><td>{{row["email"]}}</td><td>{{row["plot_number"]}}</td><td>{{row["price"]}}</td>
     </tr>
    {% endfor %}
    </table>
    <a href="/home">Go back to home page</a>




{% endblock %}